.app__btns{
width: 720px;
height: 60px;
background-color: #f3efef;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 10px;
}
.btn{
    padding:5px 30px;      
    display: flex;
    text-align: center;
    border: none;
    border-radius:20px;
    color: #f3efef;
}
.btn:disabled{
    background-color: #938c8c;
}
.btn-active{
    background-color:#96df40 ;
}