.fieldset{
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.fieldset__label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;    
}
.fieldset__label input{
    width: 200px;
}
.changeSurname__wrap,.changeGender__wrap{
    display: flex;
    gap: 20px;
    margin-right: 130px;
}
.changeSurname__wrap input,.changeGender__wrap input{
    display: none;
}
.birthday__wrap{
    display: flex;
    gap: 20px;
    margin-right: 200px;
}
.labelplace input{
    width: 694px;
}
.changeSurname__wrap span{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: transparent;
    border-radius: 6px;
    border-bottom: 1px dotted #333;
}
.changeSurname__wrap input:checked + span {
    background-color: rgb(6, 160, 98);
  }
