.header__conteiner{
    display: flex;
    justify-content: center;
    max-width: 724px;
    margin-left: 240px;
}
.header__list{
    display: flex;
    gap: 30px;
    padding: 20px;
    border: 1px solid #333;
    border-top: none;
    border-radius: 6px;
}
.header__item{
    padding: 10px;    
    border-bottom: 2px solid;
}

.header__list li:nth-child(1){
    color: rgb(160, 10, 117);
}
.header__list li:nth-child(2) {
        color: rgb(17, 222, 17);
}
.header__list li:nth-child(3) {
    color: blue;
}
.header__list li:nth-child(4) {
    color: rgb(232, 136, 10);
}
.header__list li:nth-child(6) {
    color: rgb(239, 14, 14);
}