.wrappagin{
    display: flex;
    gap: 50px;
    margin-top: 100px;
}
.wrappagin__list{
    display: flex;
    gap: 1px;
}
.wrappagin__item{
    text-align: center;   
    display: flex;
    padding: 2px 40px;
    border: 1px solid #ffffffde;    
    box-shadow: inset;
}
.wrappagin__link{
    color: #ffffff; 
}
/*.wrappagin__list li:nth-child(1),.wrappagin__list li:nth-child(2){
    background-color: rgb(6, 160, 98);    
}*/
.wrappagin__item-before{
    background-color: rgb(6, 160, 98);
}
.wrappagin__item-active {
    background-color:#96df40;
}
.wrappagin__item-active ~ li {
    background-color:rgb(241, 237, 232);    
}
.wrappagin__item-active ~ li a{
    color: black;
}
